body {
  font-family: "Montserrat", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  font-size: 0;
  padding-top: 30px;
}

#graph {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  align-self: flex-start;
  width: 525px;
  height: 525px;
  background-color: #ddd;
}

#help {
  padding: 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 20px;
  line-height: 1.6em;
  width: 250px;
  height: 200px;
  background-color: #222;
  color: white;
}

.node {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #2C3E50;
  margin: 5px;
  cursor: pointer;
  transition: .3s;
}

.path {
  background-color: #2980B9;
  transition:  1s;
}

.start {
  background-color: #E74C3C;
}

.finish {
  background-color: #E74C3C;
}

.wall {
  background-color: #ddd;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid #ddd;
  background-color: #222;
  color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}
